plugins/remotely-save/main.js
workspace.json
workspace-mobile.json
**/.trash/
/**
!.obsidian/
!zob_config/
*.md
!README.md
!zob_config/**/*.md  # 确保 zob_config 中的 .md 被追踪
zob_source/        # 忽略 zob_source 目录
